*{
	box-sizing: border-box;
	
 }

h1.mainmenu
{
	color:#EAEDED;
	text-align: center;
	margin-bottom:10px;
  margin-top: 50px;
  font-family:Verdana;
  font-weight: bolder;
}

body
{
  background-color: #273746 ;
}

p
{  	
    width:100%;
    color:#283747;
    font-family: Helvetica;
    font-style: italic;
    background-color: #F4F6F7;
    padding: 30px;
}

h2
{
	  color:#FDFEFE  ;
    float:right;
    margin: 0 0 10px 10px;
    border: 1px solid black;   
}
    
h2.maroon
{
  background-color:maroon;
}

h2.olive
{
  background-color:olive;
}
 
h2.teal
{
  background-color:teal;
}

div.menu
{
    margin: 0 55px 0 55px;
    padding:0px;  
}
div.row
{
	width=100%;

}
/* Large Devices */
@media(min-width:992px)
 {
 	.col-lg-3
 	{
 	float:left;
    }	 
   .col-lg-3
    {
    	width:25%;+-+
    }
 }		
/* Medium Devices */
@media(min-width: 768px)and(max-width: 991px)
{
    .col-md-3
 	{
 	float:left;
    }
 	 
   .col-md-3
    {
    	width:25%;
    }	
}
/* Small Devices */
@media(max-width: 767px)
{
   .col-sm-3
 	{
 	float:left;
    }
 	 
   .col-sm-3
    {
    	width:25%;
    }
}   